USE [master]
GO
/****** Object:  Database [QUANLISANPHAM]    Script Date: 4/17/2021 4:13:56 PM ******/
CREATE DATABASE [QUANLISANPHAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLISANPHAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QUANLISANPHAM.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLISANPHAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QUANLISANPHAM_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLISANPHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLISANPHAM]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 4/17/2021 4:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MACT] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MAHD] [int] NOT NULL,
	[THANHTIEN] [bigint] NOT NULL,
 CONSTRAINT [pk_MACT] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/17/2021 4:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUA] [date] NOT NULL,
	[MANV] [varchar](20) NULL,
	[TONGTIEN] [bigint] NOT NULL,
 CONSTRAINT [pk_MAHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/17/2021 4:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[TENNV] [nvarchar](20) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[SDT] [varchar](10) NOT NULL,
 CONSTRAINT [pk_MANV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/17/2021 4:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [bigint] NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[HANDUNG] [date] NOT NULL,
 CONSTRAINT [pk_MASP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON 

INSERT [dbo].[CHITIETHOADON] ([MACT], [MASP], [SOLUONG], [MAHD], [THANHTIEN]) VALUES (4, N'TB0005', 1, 5, 60000)
INSERT [dbo].[CHITIETHOADON] ([MACT], [MASP], [SOLUONG], [MAHD], [THANHTIEN]) VALUES (5, N'TB0003', 1, 5, 60000)
INSERT [dbo].[CHITIETHOADON] ([MACT], [MASP], [SOLUONG], [MAHD], [THANHTIEN]) VALUES (6, N'TB0002', 1, 5, 60000)
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [NGAYMUA], [MANV], [TONGTIEN]) VALUES (5, CAST(N'2020-07-14' AS Date), N'NV01', 180000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYMUA], [MANV], [TONGTIEN]) VALUES (6, CAST(N'2020-07-14' AS Date), N'NV01', 480000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYMUA], [MANV], [TONGTIEN]) VALUES (7, CAST(N'2020-07-14' AS Date), N'NV01', 180000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [SDT]) VALUES (N'NV01', N'Nguyễn Huy', CAST(N'2000-05-25' AS Date), N'0344551543')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [DONGIA], [NGAYNHAP], [HANDUNG]) VALUES (N'TB0001', N'Quần', 9, 60000, CAST(N'2020-07-05' AS Date), CAST(N'2020-07-06' AS Date))
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [DONGIA], [NGAYNHAP], [HANDUNG]) VALUES (N'TB0002', N'Áo', 1, 60000, CAST(N'2020-07-05' AS Date), CAST(N'2020-07-06' AS Date))
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [DONGIA], [NGAYNHAP], [HANDUNG]) VALUES (N'TB0003', N'Đồng hồ', 1, 60000, CAST(N'2020-07-05' AS Date), CAST(N'2020-07-06' AS Date))
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietHd_MAHD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [fk_ChiTietHd_MAHD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietHd_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [fk_ChiTietHd_MASP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_Hoadon_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_Hoadon_MANV]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [ck_SanPham_hangDung] CHECK  (([HANDUNG]>[NGAYNHAP]))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [ck_SanPham_hangDung]
GO
USE [master]
GO
